.commonTabList {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 0 16px 0;

  .tabHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;

    :global {
      .beyond-btn,
      .beyond-input {
        border-radius: 6px;
      }
      .beyond-input-search .beyond-input {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    .searchInput {
      width: 216px;
    }
  }

  .tabContent {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 16px;
  }
}
