.draggerWrap {
  :global {
    .@{antPrefix}-upload-drag {
      background-color: transparent;
      margin: 12px 12px 0;
      width: auto;
      .@{antPrefix}-upload-btn {
        padding: 12px;
      }
    }
  }
}
