.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 47px;
  padding-right: 16px;
  // background: #fff;
  padding-left: 32px;

  .pageSelect {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;

    .selectCount {
      display: inline-block;
      width: 24px;
      margin: 0 2px;
      color: #165dff;
      text-align: center;
    }
  }
}

.borderBox {
  position: relative;
  z-index: 3;
  width: 100%;
  height: 1px;
  background-color: #0000000f;
}
