nav.scrollTab {
  max-width: 100%;
  padding: 8px 0;
  margin: 0 12px;
  box-sizing: border-box;

  div.scrollTab {
    gap: 8px;
    display: flex;
    align-items: center;
  }

  .tab {
    cursor: pointer;
    color: #707680;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 12px;
    border-radius: 99px;
    transition: all 0.3s ease-in-out;

    &:hover,
    &.active {
      color: #14161a;
      background: #0000000f;
    }
  }
}
