.eyTable {
  // overflow-y: auto !important;
  height: 100%;
  :global {
    .@{antPrefix}-table-tbody > tr > td {
      border-bottom: 1px solid #e6ebf0 !important;
    }
    .@{antPrefix}-table-body {
      // overflow-y: auto !important;
      overflow: auto !important;
    }
    // .react-resizable {
    //   background: @table-second-bg;
    // }
    // .@{antPrefix}-table-cell-fix-left, .@{antPrefix}-table-cell-fix-right {
    //   background: unset;
    // }
  }
}
