@offsetLeft: 16px;

.carouselCardContainer {
  position: relative;
  overflow: hidden;
  padding: calc(@offsetLeft - 8px) calc(@offsetLeft - 14px);
  // margin-left: -@offsetLeft;
}

.carouselCardIcon {
  height: 100%;
  width: 52px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9;
  :global {
    .anticon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      width: 20px;
      height: 20px;
      border-radius: 20px;
      border: 1px solid var(--beyond-color-border);
      background-color: #fff;
      cursor: pointer;
    }
  }
}

.carouselCardIconLeft {
  .carouselCardIcon;
  left: 0;
  // width: calc(52px + @offsetLeft);
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  :global {
    .anticon {
      margin-left: 8px;
    }
  }
}

.carouselCardIconRight {
  .carouselCardIcon;
  right: 0;
  justify-content: flex-end;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  :global {
    .anticon {
      margin-right: 8px;
    }
  }
}

.carouselCardBlock {
  width: auto;
  transform: translateX(0);
  transition: transform 0.5s ease;
}

// 文档卡片样式
.docCard {
  border-radius: 10px;

  :global {
    .@{antPrefix}-card-body {
      padding: 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .docItem {
    &:hover {
      .docTitle {
        color: var(--beyond-color-primary);
      }
    }
  }

  .docIcon {
    color: var(--beyond-color-primary);
    font-size: 18px;
  }

  .docTitle {
    color: var(--beyond-color-text);
    font-weight: 500;
    margin-left: 10px;
  }

  &:last-child {
    margin-right: 0 !important;
  }

  &.active {
    border: 1px solid var(--beyond-color-primary);
    background-color: var(--beyond-color-primary-bg);
    color: var(--beyond-color-primary);

    .docTitle {
      color: var(--beyond-color-primary);
    }
  }
}
