@g-screen-xxl-min: 2240px;
@g-screen-xl-max: 2239px;
@g-screen-xl-min: 1680px;
@g-screen-lg-max: 1679px;
@g-screen-lg-min: 1440px;
@g-screen-l-max: 1439px;
@g-screen-l-min: 1224px;
@g-screen-md-max: 1223px;
@g-screen-md-min: 768px;

@g-screen-xxl-view-w: 1680px;
@g-screen-xl-view-w: 1400px;
@g-screen-lg-view-w: 1200px;

:root {
  --primary-color: #1677ff;
}
