.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.orgSpin {
  text-align: center;
  margin-top: 5px;
}

.search :global(.@{antPrefix}-btn.@{antPrefix}-input-search-button) {
  border-left-width: 0;
}

.breadcrumb {
  margin-bottom: 5px;

  ol > li:not(:last-child) {
    cursor: pointer;
  }
}

.item {
  display: flex;
  align-items: center;
  padding: 2px 8px;
  min-height: 52px;
  max-height: 62px;
  cursor: pointer;
  border: 0.5px dashed transparent;
  border-radius: 10px;
  &:hover {
    border-color: #6aa1ff;
    background-color: #fff;
  }
}

.arrow {
  margin-left: auto;
  color: var(~'--@{antPrefix}-color-text-tertiary', #707680);
}

.icon {
  border-radius: 8px;
  display: inline-block;
  margin-right: 8px;
  line-height: 1;
  overflow: hidden;
  flex-shrink: 0;

  & > :global(.anticon) {
    font-size: 32px;
  }
}

.name {
  font-size: 15px;
  margin-right: 8px;
  flex-shrink: 0;
}

.list {
  flex: 1 1 auto;
  overflow: auto;
}

.spinLoader {
  text-align: center;
  display: block;
}
