.dropdownMenuWrap {
  // box-shadow: 0 8px 32px 0 #e9f3ff;
  overflow: hidden;
  display: flex;
  max-width: 416px;
  // padding: 16px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  // border-radius: 12px;
  // border: 0.5px solid var(--user-fill-2-color-fill-115, #00000026);
  // background: var(--user-text-color-white, #fff);
  // box-shadow: 0 4px 16px -8px #00000014, 0 8px 24px 0 #0000000d, 0 12px 48px 16px #00000008;
}

.dropdownTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addContentBox {
  float: left;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  width: 84px;
  height: 66px;
  cursor: pointer;
  margin: 0 5px;
}

.addContentBox:hover {
  background-color: #f2f6fa;
}

.imgSuperAssist {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.addContentBoxTitle {
  font-size: 14px;
  font-weight: 400;
  color: #14161a;
  margin-top: 4px;
}

.addContentBoxTitleAssist {
  position: relative;
  bottom: 5px;
}

.imgGroupChat {
  height: 24px;
  color: #14161a;
}

.dropdownGrid {
  // display: flex;
  // grid-template-columns: repeat(4, 1fr);
  // grid-template-rows: repeat(2, 64px);
  padding: 16px 0 12px 0;
  border-top: solid 1px #e6ebf0;
  gap: 16px;
}

.gridItem {
  float: left;
  cursor: pointer;
  border-radius: 12px;
  display: flex;
  padding: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border-radius: 12px;
  width: 84px;
  height: 66px;
  cursor: pointer;
  margin: 0 5px;
}

.gridItem:hover {
  background-color: #f2f6fa;
}

.gridItem:hover {
  background: #f7f8fa;
}

.gridText {
  font-size: 14px;
  color: #14161a;
  font-weight: 400;
  text-align: center;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
}
