.thinkTaskUserInput {
  position: relative;
  line-height: 22px;
  font-size: var(--beyond-font-size);
  color: var(--beyond-color-text-tertiary);
  color: var(--beyond-color-text-tertiary);
  // border-left: 2px solid #ced3d9;
  padding-right: 10px;
  // margin: 12px 0;
  margin-left: 8px;
  min-height: 22px;
}

// [data-type='noLine'] .thinkTaskUserInput {
//   border-left: none;
// }
