.raidScroll {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px;
  width: 200px;
  overflow-y: auto;

  .raidScrollBtns {
    position: sticky;
    bottom: 0px;
    width: 100%;
    padding-top: 8px;
    border-top: 1px solid #e6ebf0;
  }
}

.raidScrollWide {
  width: 400px;
}

.raidScrollAuto {
  width: auto;
}

.checkboxGroup {
  padding-bottom: 12px;
  overflow: auto;
  max-height: 300px;
}

.radioGroup {
  overflow: auto;
  max-height: 300px;
}

.radioItem {
  width: 100%;
  margin: 0;
}

.rangePickerWrapper {
  margin-top: 12px;
  margin-bottom: 20px;
  width: 368px;
}

.numberRangeWrapper {
  margin-top: 12px;
  width: 368px;
}
