.Forward {
  min-height: 70px;
  max-height: 300px;
  width: 320px;
  border: 1px solid #ced3d9;
  box-shadow: 0 4px 8px 0 #2a3c4f14;
  border-radius: 8px;
  padding: 8px;
  overflow: hidden auto;
  color: #707680;
}

.spin {
  min-height: 50px;
}

.messageContent {
}
