.homePage {
  height: 100%;
  // padding-top: var(--beyond-header-height);
  position: relative;

  &[data-isbottom='false'] {
    background-image: url('../../../public/beyond/chat/shouye.jpg');
    background-repeat: no-repeat;
    background-size: 800px;
    background-position: center -60px;
  }
}
