<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.byai.manager.mapper.resource.SsResExtMcpServerMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iwhalecloud.byai.manager.entity.resource.SsResExtMcpServer">
        <id column="resource_id" property="resourceId" />
        <result column="mcp_server_url" property="mcpServerUrl" />
        <result column="mcp_transfer_type" property="mcpTransferType" />
        <result column="mcp_header" property="mcpHeader" />
        <result column="mcp_command" property="mcpCommand" />
        <result column="mcp_args" property="mcpArgs" />
        <result column="mcp_env" property="mcpEnv" />
        <result column="mcp_timeout" property="mcpTimeout" />
        <result column="mcp_server_url_ori" property="mcpServerUrlOri" />
    </resultMap>

    <!-- 通用查询结果-->
    <sql id="Base_Column_List">
        resource_id, mcp_server_url, mcp_transfer_type, mcp_header, mcp_command, 
        mcp_args, mcp_env, mcp_timeout, mcp_server_url_ori
    </sql>

    <resultMap id="resourceExtMcpDtoResultMap"
               type="com.iwhalecloud.byai.manager.dto.resource.ResourceExtMcpDto"
               extends="com.iwhalecloud.byai.manager.mapper.resource.SsResourceMapper.BaseResultMap">
        <association property="ssResExtMcpServer" javaType="com.iwhalecloud.byai.manager.entity.resource.SsResExtMcpServer" resultMap="BaseResultMap" />
    </resultMap>

    <select id="findResourceExtMcpByIds" resultMap="resourceExtMcpDtoResultMap">
        SELECT a.resource_id,
               a.resource_code,
               a.system_code,
               a.resource_source_pk_id,
               a.resource_biz_type,
               a.resource_type,
               a.resource_name,
               a.resource_desc,
               a.avatar,
               a.sample,
               a.tags,
               a.resource_version_id,
               a.host_type,
               a.catalog_id,
               a.man_org_id,
               a.man_user_id,
               a.index_list,
               a.create_by,
               a.create_time,
               a.update_by,
               a.update_time,
               a.com_acct_id,
               a.resource_status,
               a.resource_d_verid,
               a.resource_r_verid,
               a.auth_status,
               a.publish_time,
               a.shelf_time,
               a.unshelf_time,
               a.publish_portal,
               b.resource_id,
               b.mcp_server_url,
               b.mcp_transfer_type,
               b.mcp_header,
               b.mcp_command,
               b.mcp_args,
               b.mcp_env,
               b.mcp_timeout,
               b.mcp_server_url_ori
        FROM ss_resource a
        LEFT JOIN ss_res_ext_mcpserver b ON a.resource_id = b.resource_id
        WHERE a.resource_biz_type = 'MCP'
        AND a.resource_id IN
        <foreach collection="resourceIds" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>

</mapper>