.header {
  margin-bottom: 16px;
}

.title {
  font-size: 16px;
  font-weight: 600;
  color: #1f2329;
  line-height: 24px;
}

.desc {
  margin-top: 4px;
  color: #646a73;
  line-height: 22px;
}

.emptyWrap {
  padding: 32px 0;
}
