.systemTips {
  position: relative;
  color: var(--beyond-color-text-tertiary);
  text-align: center;
  font-size: 13px;
  line-height: 22px;

  > span {
    position: relative;
    padding: 0 8px;
    background-color: #fff;
    z-index: 1;
  }
}
