.modalWrap {
  :global {
    .@{antPrefix}-form-item-label > label {
      color: #14161a;
      font-weight: 500;
      font-size: 14px;
      line-height: 22px;
    }
    .@{antPrefix}-modal-body {
      padding: 12px 18px;
    }
  }
}

.iconManualStyle {
  color: #165dff;
}

.iconThirdStyle {
  color: #722ed1;
}

.iconDemoStyle {
  color: #00b6b6;
}
