.content {
  width: 100%;
  height: 560px;
  display: flex;

  .left {
    height: 100%;
    width: 50%;
    border-right: 1px solid #e6ebf0;
    padding: 0 24px;
    display: flex;
    flex-direction: column;

    .header {
      color: #1c1f23;
      font-family: PingFang SC;
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: 26px;
      padding: 19px 0px;
    }

    .list {
      padding-bottom: 10px;
    }

    .listItem {
      display: flex;
      align-items: center;
      column-gap: 8px;

      .img {
        border-radius: 6px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #165dff;
        color: #ffffff;
        font-size: 10px;
      }
    }
  }

  .right {
    height: 100%;
    flex: 1;
    padding: 20px 24px 24px;
    display: flex;
    flex-direction: column;

    .header {
      color: #40454d;
      font-family: PingFang SC;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-bottom: 28px;
    }

    .selectedList {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      height: 0px;
      overflow: auto;
      gap: 8px;
      align-items: flex-start;
      align-content: flex-start;
    }

    .listItem {
      display: flex;
      align-items: center;
      column-gap: 8px;
      background-color: #f2f6fa;
      padding: 5px 6px;
      border-radius: 6px;

      .img {
        border-radius: 6px;
        width: 28px;
        height: 28px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #165dff;
        color: #ffffff;
        font-size: 10px;
      }

      .close {
        color: #a4aab2;
        font-size: 10px;
        cursor: pointer;
      }
    }

    .btn {
      margin-top: 8px;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      column-gap: 8px;
    }
  }

  :global {
    .@{antPrefix}-tree {
      .@{antPrefix}-tree-node-content-wrapper {
        // display: flex;
        // align-items: center;
        // min-height: 32px;
        // padding: 0 8px;
        // border-radius: 4px;
        color: #475366;

        &:hover {
          background: transparent;
        }

        // &.@{antPrefix}-tree-node-selected {
        // }
      }

      .@{antPrefix}-tree-treenode-selected {
        background: #f5f5f5;
      }

      .@{antPrefix}-tree-node-content-wrapper.@{antPrefix}-tree-node-selected {
        font-weight: 400 !important;
        color: #0d111a !important;
      }

      .@{antPrefix}-tree-treenode:hover {
        background: #f5f5f5;
      }
    }
  }
}

.Segmented {
  margin-bottom: 8px;
}

.Tabs {
  height: 100%;

  :global {
    .@{antPrefix}-tabs-nav {
      display: none !important;
    }
    .@{antPrefix}-tabs-content {
      height: 100%;
    }
    .@{antPrefix}-tabs-tabpane {
      height: 100%;
    }
  }
}
