.avatarGroup {
  cursor: default;

  padding: 2px 8px 2px 4px;
  border-radius: 20px;
  outline: 1px solid var(--beyond-color-border-secondary);

  .avatarGroupCount {
    font-size: 12px;
    color: var(--beyond-color-text);
  }

  &:hover {
    outline: 1px solid var(--beyond-color-text);
    .avatarGroupCount {
      font-weight: bold;
    }
  }
}
