.paradigmItem {
  display: flex;

  > div:first-child {
    width: 80px;
  }
}

.wrapper {
  background-color: #f9f9f9;
  border-radius: 8px;
  padding: 16px;
  margin-right: 16px;
}

.input {
  max-width: 80px;
  margin-right: 0;
}
