.wrapper {
  border-radius: 12px;
  overflow: hidden;
  outline: 0.5px solid #ccc;
}

.header {
  padding: 8px 12px;
  background: #e8f3ff;
  border-bottom: 0.5px solid #ccc;
  font-weight: 500;
}

.content {
  padding: 8px 12px;
  background: #fff;
  min-height: 40px;
}

.more {
  padding: 7px 0;
  gap: 8px;
  border-radius: 22px;
  background: #f2f6fa;
  font-size: 13px;
  margin-top: 6px;
  &:hover {
    transform: scale(1.01);
  }
}
