.todoPage {
  width: 100%;
  min-height: 100%;
  background: #fff;
  padding: 0 0 16px 0;
}

.todoCard {
  margin-top: 16px;
  padding: 12px;
  transition: box-shadow 0.2s, border 0.2s;
  position: relative;
  border-radius: 12px;
  border: 0.5px solid var(--user-line-color-border-115, #ced3d9);
}

.todoHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
}

.todoType {
  display: inline-block;
  background: #e8f3ff;
  color: #165dff;
  font-size: 12px;
  font-weight: 400;
  border-radius: 4px;
  padding: 0px 8px;
  border: 1px solid var(--user-primary-primary-3, #94bfff);
}

.todoTime {
  color: #707680;
  font-size: 12px;
  font-weight: 400;
}

.todoContentWrap {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.todoContent {
  font-size: 14px;
  font-weight: 400;
  color: #14161a;
  flex: 1;
  line-height: 1.5;
  background: #fff;
  border-radius: 8px;
  padding: 0;
}

.todoDropdownIcon {
  margin-left: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.todoCheckIcon {
  margin-left: 8px;
  display: flex;
  align-items: center;
}

.todoInfo {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #707680;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 8px;
}

.todoInfoText {
  color: #707680;
  font-weight: 400;
}

.todoStatusRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #707680;
  font-size: 12px;
  font-weight: 400;
}

.todoStatusText {
  color: #707680;
  font-weight: 400;
}

.todoUrge {
  display: flex;
  align-items: center;
  color: #165dff;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  gap: 2px;
  margin-left: 8px;
}

.todoUrgeImg {
  font-size: 12px;
}

.todoUrgeText {
  margin-left: 2px;
}
