.drawer{
  :global {
    .@{antPrefix}-drawer-content-wrapper {
      box-shadow: none
    }
    .@{antPrefix}-drawer-header-title {
      flex-direction: row-reverse
    }
    .@{antPrefix}-drawer-title{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}