.addWrap {
  :global {
    .@{antPrefix}-modal-body {
      margin-top: 20px;
    }
  }
}

.pagePhotoWrap {
  margin-right: 16px;
  color: var(--beyond-color-primary);

  :global {
    .@{antPrefix}-upload {
      width: 64px !important;
      height: 64px !important;
    }
  }
}
