.preview {
  height: 100%;
  position: relative;
  line-height: 1;
}

.icon {
  width: 28px;
  height: 28px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 99px;

  &:hover {
    background-color: #f5f5f5;
  }
}
