.modal {
  width: 850px !important;
  :global {
    .@{antPrefix}-modal-body {
      height: 80vh !important;
      max-height: unset !important;
    }
  }
}
.spinningWrapper {
  height: 100%;
  // flex: 1;
  width: 100%;

  :global {
    .@{antPrefix}-spin-container {
      height: 100%;
      width: 100%;
    }
  }
}
