.leftTop {
  width: 100%;

  .leftTopTitle {
    color: #14161a;
    font-family: PingFang SC;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    margin-bottom: 10px;
  }
}

.rightBottomContainer {
  border-top: 1px solid var(--beyond-color-border-secondary);
  padding: 12px 0px 40px;

  .rightItem {
    display: flex;
    align-items: center;
  }

  .label {
    color: #475366;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}
