.wrap {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 20px;
    height: 56px;
    flex-shrink: 0;
  }

  .article {
    flex: 1 1 auto;
    overflow: hidden;
  }

  .close {
    margin-left: 8px;
    font-size: 18px;
  }
}
