.paramsContent {
  .fieldCode {
    color: #14161a;
    font-size: 16px;
    margin-inline-end: 12px;
  }

  .fieldLabel {
    color: #707680;
    margin-inline-end: 12px;
  }

  .fieldDesc {
    color: #707680;
  }
}
