.collapseIcon {
  cursor: pointer;
  margin: 4px 4px 0 0;
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  font-size: 12px;
  color: #666;
}
