.successContainer {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.successIcon {
  color: #52c41a;
  margin-right: 8px;
  font-size: 16px;
}

.tokenContainer {
  background-color: #f7fafc;
  padding: 8px 12px;
  border-radius: 8px;
  margin-top: 8px;
  word-break: break-all;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
}

.tokenText {
  flex: 1;
  margin-right: 10px;
}

.copyButton {
  color: var(--beyond-color-primary);
  cursor: pointer;
}
