section.md {
  :global {
    * {
      line-height: 1.8;
    }

    table {
      display: block;
      overflow: auto;
      width: 100%;
      border-collapse: collapse;
      empty-cells: show;
      border-spacing: 0;
      word-break: keep-all;
    }

    th {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
      white-space: nowrap;
      word-break: normal;
    }

    td {
      border: 1px solid #dfe2e5;
      padding: 6px 13px;
      white-space: nowrap;
      word-break: normal;
    }

    thead {
      tr {
        background: rgb(248 248 248);
      }
    }

    tbody {
      tr:nth-child(even) {
        background: rgb(248 248 248);
      }
    }
  }
}
