.emptyTitle {
  color: var(--beyond-color-text);
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  margin-top: 45px;
  margin-bottom: 4px;
}

.emptyDesc {
  color: var(--beyond-color-text-secondary);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  margin-bottom: 20px;
}
