<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iwhalecloud.byai.manager.mapper.connector.ConnectorInfoMapper">

    <resultMap id="ConnectorListDtoResultMap" type="com.iwhalecloud.byai.manager.dto.connector.ConnectorListDto">
        <id column="connector_id" property="connectorId"/>
        <result column="connector_code" property="connectorCode"/>
        <result column="connector_name" property="connectorName"/>
        <result column="connector_type" property="connectorType"/>
        <result column="description" property="description"/>
        <result column="enable_flag" property="enableFlag"/>
    </resultMap>

    <select id="selectConnectorListByQo" resultMap="ConnectorListDtoResultMap">
        SELECT a.connector_id,
               a.connector_code,
               a.connector_name,
               a.connector_type,
               a.description,
               CASE
                   WHEN b.enable_flag = 'Y'
                       AND (b.expire_time IS NULL OR b.expire_time > CURRENT_TIMESTAMP)
                       THEN 'Y'
                   ELSE 'N'
               END AS enable_flag
        FROM byai_connector_info a
                 LEFT JOIN (SELECT connector_id, enable_flag, expire_time
                            FROM (SELECT connector_id,
                                         enable_flag,
                                         expire_time,
                                         ROW_NUMBER() OVER (
                                             PARTITION BY connector_id
                                             ORDER BY CASE
                                                          WHEN enable_flag = 'Y'
                                                              AND (expire_time IS NULL OR expire_time > CURRENT_TIMESTAMP)
                                                              THEN 0
                                                          ELSE 1
                                                      END,
                                                      update_time DESC NULLS LAST,
                                                      create_time DESC,
                                                      auth_id DESC
                                         ) AS row_num
                                  FROM byai_connector_auth
                                  WHERE user_id = #{userId}
                                    AND status_cd = '00A') auth
                            WHERE row_num = 1) b
                           ON a.connector_id = b.connector_id
        WHERE a.status_cd = '00A'
        <if test="keyword != null and keyword != ''">
            AND a.connector_name LIKE CONCAT('%', #{keyword}, '%')
        </if>
        ORDER BY a.sort ASC, a.create_time DESC
    </select>

</mapper>
