.myForm {
  border: 1px solid var(--beyond-color-fill);
  border-radius: var(--beyond-border-radius);
  padding: 12px;
  background: #fff;
  .myFormHeader {
    color: var(--beyond-color-text);
    font-size: var(--beyond-font-size-heading-4);
    font-weight: 500;
  }
  .myFormContent {
    margin: 12px 0;
  }
  .myFormFooter {
  }
}
