.sqlModal {
  :global {
    .ace_editor {
      border-radius: 4px;
    }

    .ace-sqlserver .ace_gutter {
      background-color: #f2f6fa;
    }

    .ace-sqlserver .ace_scroller {
      background-color: #f7fafc;
    }
  }
}
