.breadcrumbItem {
  padding: 4px;
  border-radius: 4px;
}

.breadcrumbPointerItem {
  cursor: pointer;
  padding: 4px;
  border-radius: 4px;

  &:hover {
    background-color: var(--beyond-color-bg-text-hover);
    color: var(--beyond-breadcrumb-link-hover-color);
  }
}
