node_modules
.git
.github
.vscode
.cursor
.claude
docs
*.md
*.log
.DS_Store
.env*
.umirc.local.ts
config/config.local.ts
src/.umi
src/.umi-production
src/.umi-test
.mfsu
.swc
.history
.eslintcache
coverage
dist.zip
