@header-height: 50px;

.header {
  width: 100%;
  background: #fff;
}

.headerBox {
  height: @header-height;
  padding: 0 15px;
  justify-content: space-between;

  color: #14161a;
  font-size: 18px;
  font-weight: 500;
}
