.dateTagPicker {
  // padding: 0 !important;
  // border: none !important;
  // background: transparent !important;
  // :global {
  //   .@{antPrefix}-picker-input, .@{antPrefix}-picker-range-separator, .@{antPrefix}-picker-active-bar {
  //     display: none !important;
  //   }
  //   .@{antPrefix}-picker-suffix {
  //     color: #fff !important;
  //   }
  // }
  text-align: center;
}
.calendarOutlinedIcon {
  color: #fff;
  margin-left: 6px;
  margin-bottom: 2px;
  cursor: pointer;
  font-size: 14px;
}
