.portraitHeader {
  display: flex;
  align-items: center;
  height: 32px;
  gap: 16px;
  align-self: stretch;
  border-radius: 99px;
  background: linear-gradient(90deg, #e8f3ff 0%, #fff 25%);
  margin-bottom: 16px;

  .sectionTitle {
    font-size: 16px;
    font-weight: 500;
    color: #14161a;
    display: flex;
    align-items: center;

    .sectionTitleIcon {
      display: flex;
      width: 24px;
      height: 24px;
      justify-content: center;
      align-items: center;
      gap: 8px;
      aspect-ratio: 1/1;
      margin: 0 8px 0 4px;
      border-radius: 99px;
      background: var(--user-primary-primary-6, #165dff);
    }
  }

  .updateTime {
    font-size: 12px;
    color: #8c8c8c;
  }
}
